{% include "header.j2" %}

from __future__ import annotations

from typing import TypedDict

from industrial_model.queries.filter_types import (
{% for ft in used_filter_types %}
    {{ ft }},
{% endfor %}
)

{% for view_definition in view_definitions %}

{{ view_definition.view_name }}Filter = TypedDict(
    "{{ view_definition.view_name }}Filter",
    {
{% for field in view_definition.typeddict_fields %}
{{ field }}
{% endfor %}
        "OR": "list[{{ view_definition.view_name }}Filter]",
        "AND": "list[{{ view_definition.view_name }}Filter]",
        "NOT": "{{ view_definition.view_name }}Filter",
    },
    total=False,
)
{% endfor %}
