{% include "header.j2" %}

from cognite.client.data_classes.data_modeling import DirectRelationReference, ViewId

from industrial_model import ViewMapperCache, ViewProperty, ViewSchema

_VIEWS = {{ views }}

VIEW_MAPPER_CACHE = ViewMapperCache(_VIEWS)
